parameters:

application:
	mapping:
		Api: ['App', '*', 'Infrastructure\Http\Api\*Controller']
		Frontend: ['App', '*', 'Infrastructure\Http\Frontend\*Presenter']

latte:
	strictTypes: yes
	strictParsing: yes

di:
	export:
		parameters: no
		tags: no

services:
    - App\Core\Infrastructure\Http\RouterFactory::createRouter
    - Tracy\Bridges\Psr\TracyToPsrLoggerAdapter

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service